<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img routerLink="/" src="https://i.imgur.com/fPjED2U.png" style="max-height: 60px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-primary" routerLink="/discord">Discord</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLink="/rpg/dnd">Dungeons and Dragons</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLink="/running-projects">Running Projects</a>
      </li>
    </ul>
  </div>
  <a *ngIf="!name" href={{url}} type="button" class="btn btn-primary">Login with discord</a>
  <a *ngIf="name" type="button" (click)="logout()" class="btn btn-primary">Log out </a>
</nav>
