<div>
  <h2>Commands data</h2>

  <div *ngIf="!commands_data" class="alert alert-dismissible alert-secondary">
    Command data retrieval in progress.
  </div>

  <div *ngIf="commands_data">
    Here you can see how much Biri could be of use the past 2 weeks. A total of {{commands_data.length}} commands were used in that period.
    <ul *ngIf="0">
      <li *ngFor="let data of commands_data">
        {{data.command}}, {{data.timestamp}}, {{data.location}}
      </li>
    </ul>
  </div>
  <canvas id="chart" style="max-width: 1000px">{{chart}}</canvas>
  <button *ngIf="current_period != 'day'" type="button" class="btn btn-primary" (click)="setPeriodDaily()">View daily data</button>
  <button *ngIf="current_period != 'hour'" type="button" class="btn btn-primary" (click)="setPeriodHourly()">View hourly data</button>
</div>
