<div class="row">
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin: 10px;">
    <div class="card-header">Biribiri Discord Bot</div>
    <div class="card-body">
      <p class="card-text">
        Biribiri is a multiplurpose discordbot, basically my own macro. Her most prominent feature is the extensive Roleplaying Game,
        drawing inspiration from dungeons and dragons, warhammer and more, but in a text-based RPG. Other features include image commands,
        some games. Even configuration that can be changed using this website!
      </p>
    </div>
    <div class="card-footer">
      <button type="button" routerLink="/biribiri" class="btn btn-primary fullwidth">
        Biribiri
      </button>
    </div>
  </div>
</div>
