<div>
  <h2>
    Biri's servers which you can configure
  </h2>
  <div *ngIf="!servers" class="alert alert-dismissible alert-secondary">
    Command data retrieval in progress.
  </div>
  <div *ngIf="servers == []" class="alert alert-dismissible alert-secondary">
    No servers found to config.
  </div>

  <div class="row">
    <!-- Server listing -->
    <ul class="list-group halfwidth" *ngIf="servers">

      <div class="alert alert-dismissible alert-danger" *ngIf="servers.length == 0">
        It seems like there is no data that can be shown...
      </div>

      <li *ngFor="let server of servers" (click)="selectServer(server)"
          class="list-group-item d-flex justify-content-between align-items-center">
        {{server.name}}
        <span class="badge badge-primary badge-pill">Members: {{server.members}}</span>
      </li>
    </ul>

    <!-- Config data -->
    <div *ngIf="selection" class="card text-white bg-primary mb-3 halfwidth">
      <div class="card-header" style="height: 80px">
        <h3>{{selection.name}}</h3>
        <img *ngIf="selection.icon" src={{selection.icon}}
             style="height: 60px; position: absolute; right: 10px; top: 10px;">
      </div>
      <div *ngIf="!config" class="alert alert-dismissible alert-secondary">
        Config retrieval in progress.
      </div>
      <div *ngIf="config" class="card-body">
        <!-- Let the user know saving succeeded -->
        <div class="row">
          <div *ngIf="error===false" class="col alert alert-dismissible alert-success">
            Data successfully saved
          </div>
          <div *ngIf="error===true" class="col alert alert-dismissible alert-warning">
            Data saving failed
          </div>
        </div>

        <!-- Prefix config data -->
        <div class="row">
          <div class="col">
            Prefix:
          </div>
          <div class="col">
            <form [formGroup]="channelForm">
              <input type="text" formControlName="prefix" class="form-control" placeholder={{config.prefix}}>
            </form>
          </div>
          <div class="col">
          </div>
        </div>

        <!-- Delete commands config data -->
        <div class="row">
          <div class="col">
            Commands will be deleted:
          </div>
          <div class="col">
            <form [formGroup]="channelForm">
              <select formControlName="delete_commands" class="custom-select">
                <option [value]="value" *ngFor="let value of ['true', 'false']">{{value}}</option>
              </select>
            </form>
          </div>
          <div class="col">
          </div>
        </div>

        <!-- Welcome config data -->
        <div class="row">
          <div class="col">
            Welcome channel:
          </div>
          <div class="col">
            <form [formGroup]="channelForm">
              <select formControlName="welcomeChannel" class="custom-select">
                <option [value]="channel.channelid"
                        *ngFor="let channel of selection.channels.text">{{channel.name}}</option>
              </select>
            </form>
          </div>
          <div class="col">
            <form [formGroup]="channelForm">
              <input type="text" formControlName="welcomeText" class="form-control" placeholder={{config.welcome.text}}>
            </form>
          </div>
        </div>

        <!-- Goodbye config data -->
        <div class="row">
          <div class="col">
            Goodbye channel:
          </div>
          <div class="col">
            <form [formGroup]="channelForm">
              <select formControlName="goodbyeChannel" class="custom-select">
                <option [value]="channel.channelid"
                        *ngFor="let channel of selection.channels.text">{{channel.name}}</option>
              </select>
            </form>
          </div>
          <div class="col">
            <form [formGroup]="channelForm">
              <input type="text" formControlName="goodbyeText" class="form-control" placeholder={{config.goodbye.text}}>
            </form>
          </div>
        </div>

        <!-- Star config data -->
        <div class="row">
          <div class="col">
            Star channel:
          </div>
          <div class="col">
            <form [formGroup]="channelForm">
              <select formControlName="starChannel" class="custom-select">
                <option [value]="channel.channelid"
                        *ngFor="let channel of selection.channels.text">{{channel.name}}</option>
              </select>
            </form>
          </div>
          <div class="col">
          </div>
        </div>

        <!-- Save config data button -->
        <div class="row">
          <button type="button" (click)="saveConfigChanges()" class="btn btn-primary"
                  style="width: 40%; margin: 10px 30% 0 30%;">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
