/* You can add global styles to this file, and also import other style files */
.fullwidth {
  height: 100%;
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.halfwidth {
  height: 100%;
  width: calc(50% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.jumbotron {
  margin-bottom: 0;
  min-height: calc(100vh - 90px);
}

.row {
  margin: 10px;
}

.wlimit {
  min-width: 200px;
  max-width: 300px;
}

.col {
  min-width: 200px;
}

.submit {
  min-width: 150px;
  width: 50%;
  margin: 0 25% 0 25%;
}
