<div class="row">
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin: 10px;">
    <div class="card-header">Biribiri Help page</div>
    <div class="card-body">
      <p class="card-text">
        This page contains the full help for biri, a more detailled version of the messages received when asking for
        help using discord.
        This help can also be found on <a href="https://github.com/DeJonge00/PythonBot/blob/master/README.md">Github</a>.
      </p>
    </div>
    <div class="card-footer">
      <button type="button" routerLink="/biribiri/help" class="btn btn-primary halfwidth">
        Help page
      </button>
      <a href="https://github.com/DeJonge00/PythonBot/blob/master/README.md">
        <button type="button" class="btn btn-primary halfwidth">Github page</button>
      </a>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin: 10px;">
    <div class="card-header">Biribiri Configuration</div>
    <div class="card-body">
      <p class="card-text">
        Configure Biri for all the servers you have permissions for
      </p>
    </div>
    <div class="card-footer">
      <button type="button" routerLink="/biribiri/config" class="btn btn-primary fullwidth">
        Config
      </button>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin: 10px;">
    <div class="card-header">Biribiri RPG</div>
    <div class="card-body">
      <p class="card-text">
        Here you can find all things regarding the Biri RPG
      </p>
    </div>
    <div class="card-footer">
      <button type="button" routerLink="/biribiri/rpg" class="btn btn-primary halfwidth">
        RPG
      </button>
      <button type="button" routerLink="/biribiri/rpg/play" class="btn btn-primary halfwidth">
        Play online
      </button>
    </div>
  </div>

  <div *ngIf="discord.is_admin" class="card text-white bg-primary mb-3" style="max-width: 20rem; margin: 10px;">
    <div class="card-header">Statistics</div>
    <div class="card-body">
      <p class="card-text">
        This page contains some statistics about command usage of this bot.
      </p>
    </div>
    <div class="card-footer">
      <button type="button" routerLink="/biribiri/commands" class="btn btn-primary halfwidth">
        Bot commands
      </button>
      <button type="button" routerLink="/biribiri/servers" class="btn btn-primary halfwidth">
        Bot serverlist
      </button>
    </div>
  </div>
</div>
