<div class="row">
  <div class="card text-white bg-primary mb-3" style="min-width: 20rem; margin: 10px;">
    <div class="card-header"><a routerLink="/dnd/source">Sources</a></div>
    <div class="card-body">
      <fieldset class="form-group">
        <div class="form-check">
          <div *ngFor="let s of sources">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [checked]="s.enabled" (click)="onSelectSource(s.id)">
              <a routerLink="/dnd/source/{{s.id}}">{{s.name}}</a>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3" style="min-width: 20rem; margin: 10px;">
    <div class="card-header"><a routerLink="/dnd/race">Races</a> and <a routerLink="/dnd/subrace">Race variants</a></div>
    <div class="card-body">
      <fieldset class="form-group">
        <div class="form-check">
          <div *ngFor="let r of races">
            <a routerLink="/dnd/race/{{r.id}}"><b>{{r.name}}</b></a>
            <div *ngFor="let s of subraces[r.name]">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosRaces" (click)="onSelectRace(r, s)">
                <a routerLink="/dnd/subrace/{{s.id}}">{{s.name}}</a>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3" style="min-width: 20rem; margin: 10px;">
    <div class="card-header"><a routerLink="/dnd/class">Classes</a> and <a routerLink="/dnd/subclass">Subclasses</a></div>
    <div class="card-body">
      <fieldset class="form-group">
        <div class="form-check">
          <div *ngFor="let c of classes">
            <b><a routerLink="/dnd/class/{{c.id}}">{{c.name}}</a></b>
            <div *ngFor="let s of subclasses[c.name]">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosClasses" (click)="onSelectClass(c, s)">
                <a routerLink="/dnd/subclass/{{s.id}}">{{s.name}}</a>
              </label>
            </div>
            <br/>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3" style="min-width: 20rem; margin: 10px;">
    <div class="card-header"><a routerLink="/dnd/background">Backgrounds</a></div>
    <div class="card-body">
      <fieldset class="form-group">
        <div class="form-check">
          <div *ngFor="let b of backgrounds">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadiosBackgrounds" (click)="onSelectBackground(b)">
              <a routerLink="/dnd/background/{{b.id}}">{{b.name}}</a>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
<!--</div>-->
<!--<div class="row">-->
  <div class="card text-white bg-primary mb-3" style="min-width: 20rem; margin: 10px;"
       *ngIf="chosen_race || chosen_class || chosen_background">
    <div class="card-header">Character</div>
    <div class="card-body">
      <div *ngIf="chosen_race">
        <b>Race:</b> {{chosen_race.name}}<br/>
        <i>{{chosen_race.short_desc}}</i><br/><br/>
      </div>
      <div *ngIf="chosen_subrace">
        <b>Variant:</b> {{chosen_subrace.name}}<br />
        <i>{{chosen_subrace.short_desc}}</i><br/><br/>
      </div>
      <div *ngIf="chosen_subclass">
        <b>Class:</b> {{chosen_class.name}}<br/>
        <i>{{chosen_class.short_desc}}</i><br/><br/>
        <b>Subclass:</b> {{chosen_subclass.name}}<br/>
        <i>{{chosen_subclass.short_desc}}</i><br/><br/>
        <br/>
      </div>
      <div *ngIf="chosen_background">
        <b>Background:</b> {{chosen_background.name}}<br/>
        <i>{{chosen_background.short_desc}}</i>
      </div>
    </div>
  </div>
</div>
